<a href="https://colab.research.google.com/github/eliasht/dataKu/blob/main/DataCollection-convertPDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dalam notebook ini anda akan mempelajari cara mengkoneksikan google colab dengan google drive dan juga cara conver file PDF ke csv, xlsx dan docx. Dataset dapat diakses melalui : https://drive.google.com/file/d/1KCh4UayNgR5y8277Bx2T28jKWQ2JOoK4/view?usp=sharing

In [7]:
# Mengakses google drive ke dalam google colaboratory
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [8]:
# Install library tabula untuk convert pdf to excel (read tables in pdf into DataFrame)
!pip install tabula-py

Collecting tabula-py
  Downloading https://files.pythonhosted.org/packages/cf/29/d6cb0d77ef46d84d35cffa09cf42c73b373aea664d28604eab6818f8a47c/tabula_py-2.2.0-py3-none-any.whl (11.7MB)
     |████████████████████████████████| 11.7MB 241kB/s
Collecting distro
  Downloading https://files.pythonhosted.org/packages/25/b7/b3c4270a11414cb22c6352ebc7a83aaa3712043be29daa05018fd5a5c956/distro-1.5.0-py2.py3-none-any.whl
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.19.5)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.5.0 tabula-py-2.2.0

In [9]:
# Install library pdf2docx untuk convert pdf to document
!pip install pdf2docx

Collecting pdf2docx
  Downloading https://files.pythonhosted.org/packages/85/e4/e1a9240f8991ab6a9643db02ba2e8b04df515780d1ba99696f5e5799fb2e/pdf2docx-0.5.2-py3-none-any.whl (146kB)
     |████████████████████████████████| 153kB 22.5MB/s
Collecting python-docx>=0.8.10
  Downloading https://files.pythonhosted.org/packages/8b/a0/52729ce4aa026f31b74cc877be1d11e4ddeaa361dc7aebec148171644b33/python-docx-0.8.11.tar.gz (5.6MB)
     |████████████████████████████████| 5.6MB 31.3MB/s
Collecting opencv-python>=4.5
  Downloading https://files.pythonhosted.org/packages/6b/73/a8921d221a673600dc744033786eeab56ed5116686a1b932b724a33003c6/opencv_python-4.5.3.56-cp37-cp37m-manylinux2014_x86_64.whl (49.9MB)
     |████████████████████████████████| 49.9MB 54kB/s
Collecting PyMuPDF>=1.18.13
  Downloading https://files.pythonhosted.org/packages/14/32/98d58e1405a14c7453a92bb37bc348294fb931bcab430aae4131ff24f6e4/PyMuPDF-1.18.15-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (6.4MB)
     |████████████████████████████████| 6.4MB 40.5MB/s
Collecting fonttools>=4.24.0
  Downloading https://files.pythonhosted.org/packages/13/ff/43d2cb14eae8f8d6a508886a79d37ce97a4d74220e4540a800a00d94d219/fonttools-4.25.0-py3-none-any.whl (867kB)
     |████████████████████████████████| 870kB 32.6MB/s
Collecting fire>=0.3.0
  Downloading https://files.pythonhosted.org/packages/11/07/a119a1aa04d37bc819940d95ed7e135a7dcca1c098123a3764a6dcace9e7/fire-0.4.0.tar.gz (87kB)
     |████████████████████████████████| 92kB 9.6MB/s
Requirement already satisfied: numpy>=1.17.2 in /usr/local/lib/python3.7/dist-packages (from pdf2docx) (1.19.5)
Requirement already satisfied: lxml>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from python-docx>=0.8.10->pdf2docx) (4.2.6)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from fire>=0.3.0->pdf2docx) (1.15.0)
Requirement already satisfied: termcolor in /usr/local/lib/python3.7/dist-packages (from fire>=0.3.0->pdf2docx) (1.1.0)
Building wheels for collected packages: python-docx, fire
  Building wheel for python-docx (setup.py) ... done
  Created wheel for python-docx: filename=python_docx-0.8.11-cp37-none-any.whl size=184508 sha256=53cc718dc8b18a58d40424df7517878ede5efbde9b4016ecd61e21f93f72e21f
  Stored in directory: /root/.cache/pip/wheels/a6/90/f1/a7cb70b38633ae04e7fb963b1c70f63fd6fc01c075b8230adc
  Building wheel for fire (setup.py) ... done
  Created wheel for fire: filename=fire-0.4.0-py2.py3-none-any.whl size=115943 sha256=f14312bfe4f8cef5e016a2840578ed6befb4b8a5d4350cf1ecca0a8e3d384026
  Stored in directory: /root/.cache/pip/wheels/af/19/30/1ea0cad502dcb4e66ed5a690279628c827aea38bbbab75d5ed
Successfully built python-docx fire
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: python-docx, opencv-python, PyMuPDF, fonttools, fire, pdf2docx
  Found existing installation: opencv-python 4.1.2.30
    Uninstalling opencv-python-4.1.2.30:
      Successfully uninstalled opencv-python-4.1.2.30
Successfully installed PyMuPDF-1.18.15 fire-0.4.0 fonttools-4.25.0 opencv-python-4.5.3.56 pdf2docx-0.5.2 python-docx-0.8.11

In [10]:
# Import Packages/Library
import os
import tabula
from pdf2docx import Converter

In [11]:
# Inisiasi directory tempat data akan dibaca dan disimpan
path = "gdrive/MyDrive/Data/" #silahkan masukkan path sesuai dengan letak data di drive masing-masing

In [5]:
os.listdir(path)

['Provinsi Jawa Timur Dalam Angka 2020-pages-85.pdf']

In [12]:
# Read PDf file
df = tabula.read_pdf(path + 'Provinsi Jawa Timur Dalam Angka 2020-pages-85.pdf', pages = 1, lattice = True, multiple_tables=True)[0]

[WARNING] Got stderr: Jul 14, 2021 1:10:47 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider loadDiskCache
WARNING: New fonts found, font cache will be re-built
Jul 14, 2021 1:10:47 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Building on-disk font cache, this may take a while
Jul 14, 2021 1:10:48 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Finished building on-disk font cache, found 17 fonts
Jul 14, 2021 1:10:48 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font Symbol
Jul 14, 2021 1:10:48 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font ZapfDingbats

In [13]:
df.head()

  Kabupaten/Kota\rRegency/Municipality  ...             Unnamed: 0
0                                  NaN  ...  Belanja\rExpenditures
1                                  (1)  ...                    (3)
2                    Kabupaten/Regency  ...                    NaN
3                              Pacitan  ...   1 665 549 144 945,82
4                             Ponorogo  ...   2 322 805 767 564,09

[5 rows x 3 columns]

Perhatikan table diatas, dalam penamaan nama kolom, formatnya masih kurang rapi, selain itu ada kolom-kolom yang masuk ke dalam baris

In [14]:
# Cleaning data
df_clean = df.iloc[3:].reset_index(drop=True) #mengambil data dari baris index ke-3, dan mereset index agar mulai dari 0

df_clean.columns = [df.columns[0],df['2018'][0],df['Unnamed: 0'][0]] #rename nama kolom

In [15]:
df_clean.head()

  Kabupaten/Kota\rRegency/Municipality  ... Belanja\rExpenditures
0                              Pacitan  ...  1 665 549 144 945,82
1                             Ponorogo  ...  2 322 805 767 564,09
2                           Trenggalek  ...  1 946 046 774 834,78
3                          Tulungagung  ...  2 800 598 386 012,13
4                               Blitar  ...  2 456 663 058 142,18

[5 rows x 3 columns]

In [16]:
# Cleaning data columns
df_clean.columns = df_clean.columns.str.replace('\r', '/') # Mengganti "\r" menjadi spasi
df_clean

   Kabupaten/Kota/Regency/Municipality  ...   Belanja/Expenditures
0                              Pacitan  ...   1 665 549 144 945,82
1                             Ponorogo  ...   2 322 805 767 564,09
2                           Trenggalek  ...   1 946 046 774 834,78
3                          Tulungagung  ...   2 800 598 386 012,13
4                               Blitar  ...   2 456 663 058 142,18
5                               Kediri  ...   3 149 740 395 312,47
6                               Malang  ...   4 050 668 474 662,23
7                             Lumajang  ...   2 256 619 621 618,47
8                               Jember  ...   4 163 624 940 931,97
9                           Banyuwangi  ...   2 932 152 201 493,82
10                           Bondowoso  ...   2 171 884 322 387,31
11                           Situbondo  ...   1 849 288 303 240,09
12                         Probolinggo  ...   2 325 106 278 976,72
13                            Pasuruan  ...   3 376 868 296 332,53
14                            Sidoarjo  ...   5 005 097 845 031,35
15                           Mojokerto  ...   2 672 024 585 315,54
16                             Jombang  ...   2 832 829 111 562,94
17                             Nganjuk  ...   2 617 124 429 605,65
18                              Madiun  ...   1 812 000 389 361,00
19                             Magetan  ...   1 921 830 391 205,08
20                               Ngawi  ...   2 172 957 671 262,18
21                          Bojonegoro  ...   3 628 531 299 762,72
22                               Tuban  ...   2 596 899 799 569,44
23                            Lamongan  ...   2 950 680 611 024,51
24                              Gresik  ...   3 036 339 122 030,74
25                           Bangkalan  ...   2 260 903 470 049,51
26                             Sampang  ...   1 834 655 838 274,49
27                           Pamekasan  ...   2 138 127 562 564,00
28                             Sumenep  ...   2 486 861 383 624,00
29                   Kota/Municipality  ...                    NaN
30                              Kediri  ...   1 425 225 617 136,69
31                              Blitar  ...     972 204 365 136,51
32                              Malang  ...   2 360 831 551 277,57
33                         Probolinggo  ...     907 766 807 435,83
34                            Pasuruan  ...   1 006 333 411 941,04
35                           Mojokerto  ...     978 603 405 644,03
36                              Madiun  ...   1 285 587 599 826,46
37                            Surabaya  ...   1 066 290 673 712,87
38                                Batu  ...   9 268 450 333 673,00
39                          Jawa Timur  ...  96 705 773 242 481,70

[40 rows x 3 columns]

In [17]:
#Cleaning Data Content
df_clean = df_clean.drop(labels=29, axis=0) #hapus baris index ke-29
df_clean['Pendapatan/Revenues'] =  df_clean['Pendapatan/Revenues'].str.replace(" ", "").str.replace(",", ".") #hapus spasi dan ubah tanda koma menjadi titik
df_clean['Belanja/Expenditures'] =  df_clean['Belanja/Expenditures'].str.replace(" ", "").str.replace(",", ".") #hapus spasi dan ubah tanda koma menjadi titik

In [18]:
#Cek Tipe Data
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 0 to 39
Data columns (total 3 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Kabupaten/Kota/Regency/Municipality  39 non-null     object
 1   Pendapatan/Revenues                  39 non-null     object
 2   Belanja/Expenditures                 39 non-null     object
dtypes: object(3)
memory usage: 1.2+ KB

In [19]:
df_clean['Pendapatan/Revenues'] = df_clean['Pendapatan/Revenues'].astype(float)
df_clean['Belanja/Expenditures'] = df_clean['Belanja/Expenditures'].astype(float)

In [20]:
df_clean.head()

  Kabupaten/Kota/Regency/Municipality  ...  Belanja/Expenditures
0                             Pacitan  ...          1.665549e+12
1                            Ponorogo  ...          2.322806e+12
2                          Trenggalek  ...          1.946047e+12
3                         Tulungagung  ...          2.800598e+12
4                              Blitar  ...          2.456663e+12

[5 rows x 3 columns]

 Contoh cara menyimpan data kedalam format .xlsx dan .csv.

In [21]:
#convert DataFrame to .xlsx
df_clean.to_excel(path + 'convert_excel.xlsx', index=None) # tidak mengimpan index dari dataframe tersebut

In [22]:
#convert DataFrame to .csv
df_clean.to_csv(path + 'convert_csv.csv', index=None) # tidak mengimpan index dari dataframe tersebut

Convert Pdf to Docx

In [23]:
# Pilih directory tempat file pdf tersimpan
pdf_file = path + 'Provinsi Jawa Timur Dalam Angka 2020-pages-85.pdf'

# Pilih directory tempat data docx akan tersimpan, dan masukkan nama file untuk file document
docx_file = path + 'Provinsi Jawa Timur Dalam Angka 2020.docx' # nama file bisa diganti

# Convert pdf to docx
cv = Converter(pdf_file)

# Proses pdf dan pilih halaman yang akan di convert
cv.convert(docx_file, start=0, end=None) #convert pdf halaman pertama
cv.close()

[INFO] Start to convert gdrive/MyDrive/Data/Provinsi Jawa Timur Dalam Angka 2020-pages-85.pdf
[INFO] [1/4] Opening document...
[INFO] [2/4] Analyzing document...
[WARNING] Replace font "MyriadPro" with "Times New Roman" due to lack of data.
[WARNING] Replace font "MyriadPro" with "Times New Roman" due to lack of data.
[WARNING] Replace font "MyriadPro" with "Times New Roman" due to lack of data.
[WARNING] Replace font "MyriadPro" with "Times New Roman" due to lack of data.
[WARNING] Replace font "MyriadPro" with "Times New Roman" due to lack of data.
[WARNING] Replace font "MyriadPro" with "Times New Roman" due to lack of data.
[WARNING] Replace font "Metropolis" with "Times New Roman" due to lack of data.
[WARNING] Replace font "MyriadPro" with "Times New Roman" due to lack of data.
[INFO] [3/4] Parsing pages...
[INFO] (1/1) Page 1
[WARNING] Ignore Line "Table2.4.3 Realisasi Pendapatan dan Belanja Pemerintah Provinsi " due to overlap
[WARNING] Ignore Line "Menurut Kabupaten/Kota di Provinsi Jawa Timur, 2018 dan " due to overlap
[INFO] [4/4] Creating pages...
[INFO] (1/1) Page 1
[INFO] Terminated in 1.43s.